# Feature Engineering

- Reading data and merging with Riders IDs
- Definining target variables

## Configuration

In [1]:
TRAIN = 'Data/Train.csv'
TEST = 'Data/Test.csv'
RIDERS =  'Data/Riders.csv'
SUBMISSION = 'Data/SampleSubmission.csv'

## Packages

In [26]:
import os
import pandas as pd
from datetime import datetime
from collections import Counter
from matplotlib import pyplot as plt

## Functions

In [3]:
def load_data(file):
    df = pd.read_csv(file)
    return df

def merge_data(data, riders, riders_id, data_id):
    print("#"*100)
    print(f"Number of rows and columns in data df is: {data.shape[0]} and {data.shape[1]}, respectively")
    print(f"Number of rows and columns in riders df is: {riders.shape[0]} and {riders.shape[1]}, respectively")
    df = pd.merge(left=data, right=riders, how='left', left_on=riders_id, right_on=data_id)
    print(f"Number of rows and columns in output df is: {df.shape[0]} and {df.shape[1]}, respectively")
    print("#"*100)
    return df

def convert_to_datetime(df, list_vars, name):
    output = []
    dt_format = '%d%I:%M:%S %p'
    for n,val in enumerate(df[list_vars[0]]):
        string_to_convert = str(df.loc[n,list_vars[1]]) + val
        output.append(datetime.strptime(string_to_convert, dt_format))
    df[name] = output
    return df

def create_delta(df, list_vars, name):
    df[name] = (df[list_vars[1]] - df[list_vars[0]]).dt.total_seconds()
    return df

## Main Code

In [4]:
train_data = load_data(file=TRAIN)
test_data = load_data(file=TEST)
riders_data = load_data(file=RIDERS)
train_data = merge_data(data=train_data, riders=riders_data, riders_id='Rider Id', data_id='Rider Id')
test_data = merge_data(data=test_data, riders=riders_data, riders_id='Rider Id', data_id='Rider Id')
submission = load_data(file=SUBMISSION)

####################################################################################################
Number of rows and columns in data df is: 21201 and 29, respectively
Number of rows and columns in riders df is: 960 and 5, respectively
Number of rows and columns in output df is: 21201 and 33, respectively
####################################################################################################
####################################################################################################
Number of rows and columns in data df is: 7068 and 25, respectively
Number of rows and columns in riders df is: 960 and 5, respectively
Number of rows and columns in output df is: 7068 and 29, respectively
####################################################################################################

In [5]:
submission.head()

         Order_No  Time from Pickup to Arrival
0  Order_No_19248                        567.0
1  Order_No_12736                       4903.0
2    Order_No_768                       5649.0
3  Order_No_15332                          NaN
4  Order_No_21373                          NaN

In [25]:
train_data.loc[23:28,[var for var in train_data.columns if "Pickup" in var]]

,Arrival at Pickup - Day of Month,Arrival at Pickup - Weekday (Mo = 1),Arrival at Pickup - Time,Pickup - Day of Month,Pickup - Weekday (Mo = 1),Pickup - Time,Pickup Lat,Pickup Long,Time from Pickup to Arrival,Arrival at Pickup-DateTime,Pickup-DateTime,Confirmation-Arrival at Pickup,Arrival at Pickup-Pickup,Pickup-Arrival at Destination
23,11,5,10:26:21 AM,11,5,10:35:25 AM,-1.321124,36.776516,1404,1900-01-11 10:26:21,1900-01-11 10:35:25,1332.0,544.0,1404.0
24,11,2,3:50:17 PM,11,2,3:53:17 PM,-1.296974,36.785661,3617,1900-01-11 15:50:17,1900-01-11 15:53:17,489.0,180.0,3617.0
25,3,3,12:47:40 PM,3,3,12:52:48 PM,-1.285991,36.875681,2606,1900-01-31 14:47:40,1900-01-31 14:52:48,2051.0,308.0,-2423794.0
26,5,5,2:59:57 PM,5,5,3:01:56 PM,-1.273600,36.821813,1149,1900-01-05 14:59:57,1900-01-05 15:01:56,855.0,119.0,1149.0
27,19,2,12:30:55 PM,19,2,12:42:07 PM,-1.255189,36.782203,1731,1900-01-19 12:30:55,1900-01-19 12:42:07,89.0,672.0,1731.0
28,14,3,2:25:54 PM,14,3,2:28:10 PM,-1.279395,36.825364,3241,1900-01-14 14:25:54,1900-01-14 14:28:10,553.0,136.0,3241.0

In [19]:
train_data.loc[20:30,['Pickup-Arrival at Destination', '']]

,Placement - Day of Month,Placement - Weekday (Mo = 1),Placement - Time,Confirmation - Day of Month,Confirmation - Weekday (Mo = 1),Confirmation - Time,Arrival at Pickup - Day of Month
20,12,2,10:04:11 AM,12,2,10:26:25 AM,12
21,22,3,10:42:19 AM,22,3,10:42:39 AM,22
22,10,4,7:27:32 PM,10,4,7:27:53 PM,10
23,11,5,10:03:14 AM,11,5,10:04:09 AM,11
24,11,2,3:38:33 PM,11,2,3:42:08 PM,11
25,3,3,12:12:10 PM,3,3,12:13:29 PM,3
26,5,5,2:42:27 PM,5,5,2:45:42 PM,5
27,19,2,12:28:42 PM,19,2,12:29:26 PM,19
28,14,3,1:53:26 PM,14,3,2:16:41 PM,14
29,28,3,8:33:07 AM,28,3,8:33:21 AM,28

In [7]:
train_data = convert_to_datetime(df=train_data, list_vars=['Placement - Time', 'Placement - Day of Month'], name='Placement-DateTime')
train_data = convert_to_datetime(df=train_data, list_vars=['Confirmation - Time', 'Confirmation - Day of Month'], name='Confirmation-DateTime')
train_data = convert_to_datetime(df=train_data, list_vars=['Arrival at Pickup - Time', 'Arrival at Pickup - Day of Month'], name='Arrival at Pickup-DateTime')
train_data = convert_to_datetime(df=train_data, list_vars=['Pickup - Time', 'Pickup - Day of Month'], name='Pickup-DateTime')
train_data = convert_to_datetime(df=train_data, list_vars=['Arrival at Destination - Time', 'Arrival at Destination - Day of Month'], name='Arrival at Destination-DateTime')

In [8]:
train_data = create_delta(df=train_data, list_vars=['Placement-DateTime','Confirmation-DateTime'], name='Placement-Confirmation')
train_data = create_delta(df=train_data, list_vars=['Confirmation-DateTime','Arrival at Pickup-DateTime'], name='Confirmation-Arrival at Pickup')
train_data = create_delta(df=train_data, list_vars=['Arrival at Pickup-DateTime','Pickup-DateTime'], name='Arrival at Pickup-Pickup')
train_data = create_delta(df=train_data, list_vars=['Pickup-DateTime','Arrival at Destination-DateTime'], name='Pickup-Arrival at Destination')

In [ ]:
#train_data = train_data[train_data['Placement - Day of Month'] == train_data['Confirmation - Day of Month']]
print(Counter(train_data['Placement - Day of Month'] == train_data['Confirmation - Day of Month']))
print(Counter(train_data['Confirmation - Day of Month'] == train_data['Arrival at Pickup - Day of Month']))
print(Counter(train_data['Arrival at Pickup - Day of Month'] == train_data['Pickup - Day of Month']))
print(Counter(train_data['Pickup - Day of Month'] == train_data['Arrival at Destination - Day of Month']))

In [9]:
train_data.loc[24:27,['Placement-Confirmation','Confirmation-Arrival at Pickup', 'Arrival at Pickup-Pickup',
            'Pickup-Arrival at Destination', 'Time from Pickup to Arrival', 'Pi']].head()
#train_data['Pickup-Arrival at Destination'].astype(int) - train_data['Time from Pickup to Arrival']

,Placement-Confirmation,Confirmation-Arrival at Pickup,Arrival at Pickup-Pickup,Pickup-Arrival at Destination,Time from Pickup to Arrival
24,215.0,489.0,180.0,3617.0,3617
25,79.0,2051.0,308.0,-2423794.0,2606
26,195.0,855.0,119.0,1149.0,1149
27,44.0,89.0,672.0,1731.0,1731

## Key variables:
- **Target variable**: Time from Pickup to Arrival (in seconds)
- Variables to create:
    - Create variables:
        - DONE: From Placement to Confirmation
        - DONE: From Confirmation to Arrival at Pickup
        - DONE: From Arrival at Pickup to Pickup
        - DONE: From Pickup to Arrival at Destination
        - Calculate Bearing
    - Scale 0-1 all quantitative:
        - 
    - One-hot encoding:
        - Platform Type
        - Personal or Business
        - Placement - Day of Month
        - Placement - Weekday (Mo = 1)
        - Placement - Time (24 hours)

- Potential Predictors:
    - **Remove:** Vehicle Type
    - **Include_OHE:** Platform Type
    - **Include_OHE:** Personal or Business
    - **Analyze:** Placement - Day of Month
    - **Include_OHE:** Placement - Weekday (Mo = 1)
    - **Analyze:** Placement - Time
    - 
    - **Analyze:** Confirmation - Day of Month
    - **Include_OHE:** Confirmation - Weekday (Mo = 1)
    - **Analyze:** Confirmation - Time
    - 
    - **Analyze:** Arrival at Pickup - Day of Month
    - **Include_OHE:** Arrival at Pickup - Weekday (Mo = 1)
    - **Analyze:** Arrival at Pickup - Time
    - 
    - **Analyze:** Pickup - Day of Month
    - **Include_OHE:** Pickup - Weekday (Mo = 1)
    - **Analyze:** Pickup - Time
    - 
    - **Analyze:** Arrival at Destination - Day of Month
    - **Include_OHE:** Arrival at Destination - Weekday (Mo = 1)
    - **Analyze:** Arrival at Destination - Time
    - 
    - **Include_SCL:** Distance (KM)
    - **Include_SCL:** Temperature
    - **Include_SCL:** Precipitation in millimeters
    - **Analyze:** Pickup Lat
    - **Analyze:** Pickup Long
    - **Analyze:** Destination Lat
    - **Analyze:** Destination Long
    - **Remove:** Rider Id
    - **Include_SCL:** No_Of_Orders
    - **Include_SCL:** Age
    - **Include_SCL:** Average_Rating
    - **Include_SCL:** No_of_Ratings

In [ ]:
Counter(train_data['Vehicle Type'])
Counter(train_data['Platform Type'])
Counter(train_data['Personal or Business'])
Counter(train_data['Placement - Time'])
Counter(train_data['Placement - Weekday (Mo = 1)'])
Counter(train_data['Placement - Day of Month'])
# plt.bar(*zip(*Counter(train_data['Placement - Weekday (Mo = 1)']).items()))
# plt.bar(*zip(*Counter(train_data['Placement - Time']).items()))
plt.bar(*zip(*Counter(train_data['Arrival at Destination - Day of Month']).items()))
plt.show()